<%- include("./partials/header.ejs") %>
<div class="container">
    <div>
        <h1>GERENCIAMENTO DE CATEGORIAS</h1>
    </div>

    <div>
        <h3>
            <a href="/categorias">Gerenciador de Categorias</a>
        </h3>
    </div>
    <div>
        <h3>
            <a href="/vagas">Gerenciador de Vagas</a>
        </h3>
    </div>
</div>
<%- include("./partials/footer.ejs") %>