<%- include("./partials/header.ejs") %>
<div class="container">
    <div>
        <h1>GERENCIAMENTO JOBIFY</h1>
    </div>
    <div>
        <h3>
            <a href="/admin/categorias">Gerenciar de Categorias</a>
        </h3>
    </div>
    <div>
        <h3>
            <a href="/admin/vagas">Gerenciar de Vagas</a>
        </h3>
    </div>
</div>
<%- include("./partials/footer.ejs") %>